* {
  outline: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  display: block;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 23px;
  padding-bottom: 24px;
}
.header__link {
  position: relative;
  left: 0;
  transition: 0.3s;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.header__link::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  width: 48px;
  width: 100%;
  height: 4px;
  opacity: 0;
  margin-top: 28px;
  justify-content: center;
  background-color: #ffffff;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.header__item:hover > .header__link::after {
  opacity: 1;
}
.header__info {
  display: flex;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.header__info:hover {
  fill: #2196f3;
}
.header__info {
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.header__info:hover {
  color: #2196f3;
}
.header__web {
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.header__web:hover {
  color: #2196f3;
}
.header__logo {
  margin-right: 50px;
}
.header__box {
  display: flex;
  align-items: center;
}
.header__logo2 {
  color: #2196f3;
  margin-right: 80px;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.header__logo1 {
  color: #212121;
}
.header__navagation {
  margin-right: 344px;
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__web {
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.header__web:hover {
  color: #2196f3;
}
.header__link {
  color: var(--comandname);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header__logo {
  fill: var(--hedermail);
}
.header__link:hover > .header__logo {
  fill: var(--whathbtbg);
}
.header__icon {
  fill: var(--comandname);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.header__list {
  display: flex;
  align-items: center;
}
.header__contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.header__contact {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}
.header__contacts, .header__mail, .header__phone {
  color: var(--comandname);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.header__contacts:hover, .header__mail:hover, .header__phone:hover {
  color: var(--wathbtbg);
}
.header__icon:hover {
  fill: var(--wathbtbg);
}
.header__list-item {
  display: flex;
  gap: 53px;
  margin-left: 93px;
  line-height: 1.15;
}
.header__link {
  color: var(--feauturesmain);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.28px;
}
.header__link:hover {
  color: var(--whathbtbg);
}
.header__mail, .header__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__link {
  color: var(--commandtext);
  font-size: 14px;
  font-weight: 500;
  line-height: 0.6;
  letter-spacing: 0.28px;
}
.header__list .header__link {
  color: var(--text-color, #757575);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header__contact {
  display: flex;
  gap: 53px;
  margin-left: 93px;
  line-height: 1.15;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/heroimg.webp);
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__title {
  color: #e8e7e7;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 2.64px;
}
.hero__button {
  color: #e8e7e7;
  background-color: #2196f3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.hero__button:hover {
  background-color: #1778c7;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--wathbt);
}
.features__list {
  display: flex;
  gap: 30px;
}
.features__item:nth-child(1)::before {
  content: url("../image/group1.webp");
  display: block;
}
.features__item:nth-child(2)::before {
  content: url("../image/group2.webp");
  display: block;
}
.features__item:nth-child(3)::before {
  content: url("../image/group3.webp");
  display: block;
}
.features__item:nth-child(4)::before {
  content: url("../image/group4.webp");
  display: block;
}
.features__title {
  color: #212121;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
}
.features__text {
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.work {
  font-weight: 700;
  line-height: 0.6;
  padding: 94px 0 94px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work {
  background-color: var(--wathbt);
}

.work-title {
  color: var(--feauturesmain);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  line-height: 1.33;
  margin-bottom: 50px;
}

.workerss {
  font-weight: 700;
  line-height: 0.6;
  padding: 94px 0 94px;
}
.workerss__title {
  color: var(--feauturesmain);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  line-height: 1.33;
  margin-bottom: 50px;
}
.workerss__list {
  display: flex;
  justify-content: space-between;
}
.workerss__item {
  position: relative;
}
.workerss__position {
  display: flex;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
}
.workerss__text {
  color: #e8e7e7;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.workerss__link {
  overflow: hidden;
  height: 294px;
  position: relative;
  display: block;
}
.workerss__link:hover .workerss__position {
  transform: translate(0%);
}
.workerss__link:focus .workerss__position {
  transform: translate(0%);
}

.customers__text {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-top: 94px;
  margin-bottom: 50px;
}
.customers__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}
.customers__items {
  display: flex;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  width: 255px;
  height: 175px;
}
.customers__items:hover {
  border: 1px solid #2196f3;
}
.customers__icons {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.customers__icons:hover {
  fill: #2196f3;
}

.command {
  font-weight: 700;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}
.command__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.command__list {
  font-weight: 500;
  display: flex;
  gap: 30px;
}
.command__item {
  height: 550px;
  background-color: #ffffff;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.command__items {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.command__photo {
  margin-bottom: 33px;
}
.command__icons {
  fill: #afb1b8;
}
.command__liist {
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.command__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.command__link:hover {
  background-color: #2196f3;
}
.command__icons {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.command__icons:hover {
  fill: #ffffff;
}

.footer {
  background-color: #2f303a;
  width: auto;
  height: 250px;
}
.footer__link {
  color: #ffffff;
  margin-top: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__link:hover {
  color: #2196f3;
}
.footer__box1 {
  margin-right: 100px;
  border: 0px;
  width: 200px;
  height: 100px;
  color: #ffffff;
}
.footer__box2 {
  margin-right: 100px;
}
.footer__logo1 {
  color: #212121;
}
.footer__logo2 {
  color: #2196f3;
}
.footer__flex {
  display: flex;
  padding-top: 25px;
}
.footer__list {
  display: flex;
  gap: 10px;
  width: 200px;
}
.footer__text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__liist {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.footer__liist:hover {
  background-color: #2196f3;
}
.footer__link {
  display: flex;
  justify-content: center;
  width: 45px;
  height: 35px;
}
.footer__icons {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.footer__icons:hover {
  fill: #ffffff;
}

.footerform {
  padding-top: 12px;
  margin-left: 80px;
}
.footerform__title {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footerform__container {
  display: flex;
  gap: 12px;
}
.footerform__input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0.01);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  width: 358px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.footerform__input:hover, .footerform__input:focus {
  border-color: var(--whathbtbg);
}
.footerform__input::-moz-placeholder {
  color: var(--commandtext);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.footerform__input:-ms-input-placeholder {
  color: var(--commandtext);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.footerform__input::placeholder {
  color: var(--commandtext);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.footerform__button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 28px;
  background-color: var(--whathbtbg);
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}
.footerform__button:hover, .footerform__button:focus {
  background-color: #188CE8;
}
.footerform__icons {
  fill: #FFF;
}
.footerform .logofooter {
  color: var(--wathbt);
}

.modal__title {
  color: var(--feauturesmain);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal .backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__window {
  border-radius: 4px;
  background: #fff;
  flex-shrink: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 528px;
  height: 611px;
}
.backdrop.is-hidden .modal__window {
  transform: translate(0);
  transform: scale(0);
}
.modal .is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal .no-scroll {
  overflow: hidden;
}
.modal__cross {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.modal__name {
  color: var(--headermail);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.modal__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 35px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--whathbtbg);
}
.modal__icons {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: var(--feauturesmain);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icons:hover {
  fill: var(--logo-color);
}
.modal__comment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.12px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:hover {
  border-color: var(--whathbtbg);
}
.modal__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.modal__text {
  color: var(--feauturesmain);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.modal__link {
  color: var(--whathbtbg);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__link:hover {
  color: var(--logo-color);
}
.modal__button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--whathbtbg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  border-color: transparent;
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */