
.client {
    padding-top: 94px;
    padding-bottom: 94px;
    background: var(--wathbt);
  }
  
  
  
  
  
  
  .client-title {
    color: var(--comandname);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  .client-list {
    display: flex;
    gap: 20px;
  }
  .client-item {
    width: 180px;
    height: 106px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
  }
  
  
  .client-sc {
    width: 20px;
    height: 20px;
    margin-top: 16px;
    margin-right: 12px;
  }
  
  .client-sc:hover {
    box-shadow: 3px 3px 20px 3px;
    transform: scale(1.2);
    transition: transform 0.5s;
    fill: blue;
  }
  
  .client-logo {
    width: 186px;
    height: 120px;
  
  }