
  .command {
    font-weight: 700;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;






&__title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  
  &__list {
    font-weight: 500;
    display: flex;
    gap: 30px;
  
  }
  
  &__item {
    height: 550px;
    background-color: $bg-color;
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  &__items {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }
  
  &__photo{
    margin-bottom: 33px;
  }
  
  &__icons{
    fill: $icon-color;
  }
  
  
  &__liist {
    display: flex;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.41,.33,.46,.93);
  }
  
  &__link{
    display: flex;  
    justify-content: center;
    align-items: center;
    border: 1px solid $bg-color;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.41,.33,.46,.93);

    &:hover {
      background-color: $logo-colour;
    }
  }
  
  
  &__icons {

  fill: $icon-color;
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(.41,.33,.46,.93);

  &:hover{
    fill: $bg-color;

  }
  
  }
  

  


  
  }