.customers{
    
    
    
    &__text{
      color: $text-color;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    padding-top: 94px;
    margin-bottom: 50px;
    }
    
    
    &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 94px;
    }
    
    
    &__items {
      display: flex;
      justify-content: center;
      padding: 16px 32px;
      border-radius: 4px;
      border: 1px solid $icon-color;
      fill: $icon-color;
      width: 255px;
      height: 175px;

  

    &:hover {
      border: 1px solid $logo-colour;
    }

  }
    
    
  &__icons {
    fill: $icon-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.41,.33,.46,.93);

    &:hover {
      fill: $logo-colour;
    }
    }
    

   
  
}