.header {
    padding-top: 23px;
    padding-bottom: 24px;



  &__link {
    position: relative;
    left: 0;
    transition: 0.3s;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.41,.33,.46,.93);
  
    &::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50px;
      width: 48px;
      width: 100%;
      height: 4px;
      opacity: 0;
      margin-top: 28px;
      justify-content: center;
      background-color: $bg-color;
      transition-property: opacity;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(.41,.33,.46,.93);
    }
    
  }
  
  &__item:hover > &__link::after {
    opacity: 1;
  
  }
  
    &__info {
    display: flex;
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.41,.33,.46,.93);

    &:hover {
      fill: $logo-colour;
    }
  }

  &__info {
    color: $text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.41,.33,.46,.93);

    &:hover {
      color: $logo-colour;
    }
  }

  &__web {
    color: $text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.41,.33,.46,.93);


    &:hover {
      color: $logo-colour;
    }
  }

  &__logo {
    margin-right: 50px;
  }

  &__box {
    display: flex;
    align-items: center;
  }
  &__logo2 {
    color: $logo-colour;
    margin-right: 80px;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;

  }
  &__logo1 {
    color: $text-color;
  }
&__navagation {
    margin-right: 344px;
  }
&__list {
    display: flex;
    gap: 50px;
  }

  &__web {
    color: $text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.41,.33,.46,.93);

    &:hover {
      color: $logo-colour;
    }
  }
&__link {
    color: var(--comandname);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }

&__logo {
    fill: var(--hedermail);
  }
&__link:hover > &__logo {
    fill:var(--whathbtbg);
  }
&__icon{
    fill: var(--comandname);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.41,.33,.46,.93);
  }
&__list {
    display: flex;
    align-items: center;
  }
&__contacts{
    display: flex;
    gap: 50px;
    margin-left: auto;
    
  }
&__contact{
    display: flex;
    gap: 50px;
    margin-left: 93px;
  }
&__contacts,
&__mail,
&__phone {
    color: var(--comandname);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.41,.33,.46,.93);


    &:hover {
      color: var(--wathbtbg);
    }
  }
  

  
  &__icon:hover {
    fill: var(--wathbtbg);
  }
  
  &__list-item {
    display: flex;
    gap: 53px;
    margin-left: 93px;
    line-height: 1.15;
  }
  &__link {
    color: var(--feauturesmain);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.28px;

    &:hover {
      color: var(--whathbtbg);
    }
  }

  &__mail,
  &__phone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &__link { 
    color: var(--commandtext);
    font-size: 14px;
    font-weight: 500;
    line-height: 0.6;
    letter-spacing: 0.28px;
  }
  &__list &__link {
    color: var(--text-color, #757575);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  &__contact {
    display: flex;
    gap: 53px;
    margin-left: 93px;
    line-height: 1.15;
  }


}