.modal {


&__title {
  color: var(--feauturesmain);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex;
justify-content: center;
align-items: center; */
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__window {
  border-radius: 4px;
  background: #fff;
  flex-shrink: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 528px;
  height: 611px;
}

.backdrop.is-hidden &__window {
  transform: translate(0);
  transform: scale(0);
  
}


.no-scroll {
  overflow: hidden;
}

&__cross {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

&__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

&__name {
  color: var(--headermail);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

&__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 35px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  border-color: var(--whathbtbg);
}
}



&__icons {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: var(--feauturesmain);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover {
    fill: var(--logo-color);
  }
}



&__comment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.12px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: var(--whathbtbg);
  }


  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  
}




&__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

&__text {
  color: var(--feauturesmain);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

&__link {
  color: var(--whathbtbg);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover {
    color: var(--logo-color);
  }
}



&__button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--whathbtbg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  border-color: transparent;
  background-color: #188ce8;
}

}





.mobile {


@media screen and (min-width:768px) {
      display: none;
}
@media screen and (min-width:1200px) {
      display: none;
}

  &__window {
    border-radius: 4px;
    background: #fff;
    flex-shrink: 0;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    padding-top: 10px;
    width: 480px;
    height: auto;
  }

  
.backdrop.is-hidden &__window {
  transform: translate(0);
  transform: scale(0);
  
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  @media screen and (min-width:768px) {
    display: none;
  }
  @media screen and (min-width:1200px) {
    visibility: hidden;
  }
}


.no-scroll {
  overflow: hidden;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex;
justify-content: center;
align-items: center; */
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



  &__button {
    background-color: #fff;
    width: 40px;
    height: 40px;
    margin-left: 385px;
    margin-right: 15px;
  
  }

  &__icon {
    width: 18.67px;
    height: 18.67px;

    &:hover {
      fill: $logo-colour;
    }
  }

  &__flist {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: $text-color;
    margin-bottom: 151px;
    

  }
  
  
  &__slist {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: $text-color;
    

  }

  &__item {
    margin-bottom: 30px;
    width: 139px;
    height: 48px;

    
  }

  &__text {
    font-family: 'Roboto', sans-serif;
    color: $text-color;

    &:hover {
      color: $logo-colour;
    }
  }

  &__info {
    margin-bottom: 32px;
  }

  &__phone {
    color: $icon-color;
    width: 296px;
    height: 40px;
    

    &:hover {
      color: $logo-colour;
    }
  }

  &__email {
    color: $icon-color;
    width: 231px;
    height: 28px;

    &:hover {
      color: $logo-colour;
    }
  }


  &__sots {
    display: flex;
    justify-content: center;
  }

  &__cites {
    margin-right: 8px;
  }

  &__texts {
    color: $logo-colour;

    &::before {
      content: ' | ';
      margin-right: 8px;
    }
  }

  &__textss {
    color: $logo-colour;
  }

}