.sponcer {
    padding-bottom: 94px;
  }
  .sponcer-list {
    --grid-gap: 30px;
    flex-wrap: wrap;
    display: flex;
  }
  .sponcer-item {
    background-color: var(--pf-bg);
    border: 1px solid var(--border-color);
    margin-bottom: 30px;
    width: 370px;
    height: 404px;
    --cards: 9;
  }
  

  
.sponcer-item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
  .sponcer-photo {
    margin-bottom: 20px;
    align-items: center;
  }
  .sponcer-name {
    color: var(--comandname);
    padding-left: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
  }
  .sponcer-description {
    color: var(--comandtext);
    padding-left: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
  }
  