

.pages {
    padding-top: 94px;
    padding-bottom: 50px;
  
  &__list {
    display: flex;
    justify-content: center;
    gap: 8px;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      margin-right: 124px;
    }
    @media screen and (min-width: 768px) {
      justify-content: center;
    }
  }
  &__button {
    color: $text-color;
    background-color: $icon-color;
    display: block;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    border-radius: 4px;
    @extend %text;
    border: none;
    padding: 6px 25px;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.41,.33,.46,.93);
    

    &:hover {
      background-color: $logo-colour;
      color: $bg-color;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }
  }


  
}
